#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* ↑はviteの自動生成、あとで必要なものだけ残して調整する */

.header {
  /* 高さは画面の1/3 */
  height: 33vh;
}
