#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.header {
  /* 高さは画面の1/3 */
  height: 25vh;
  position: relative;
}

.header-content {
  /* 親要素の一番下の真ん中に配置 */
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

button.select-hand {
  margin: 2px;
  min-width: 7rem;
}
